.calculadora {
  background: rgb(36, 240, 223);
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 6px 6px rgb(88, 95, 95);
}
.calculadora input {
  background: rgb(8, 41, 31);
  color: rgb(140, 200, 202);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  
}
.calculadora input:focus{
  background: rgb(255, 255, 255);
  color: rgb(140, 200, 202);

}
#spTotal {
  background: black;
  color: yellow;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.calculadora button {
  background: rgb(28, 28, 83);
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
}
.calculadora button:hover{
  background: rgb(156, 156, 226);
  color: rgb(250, 3, 3);
  cursor: pointer;
}
.calcF{
    display: none;
}
#input-calcF{
  display: none;

}
h3{
  color: rgb(39, 84, 167);
}
#input-calcF:checked + .calculadora  .calcF{
    display: block;
}
